.quest {
  align-items: center;
  background-color: #7faf17;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0.5rem;
  transition: 0.4s background-color ease;

  &:hover {
    background-color: #c3de0c;
    cursor: pointer;
    transition: 0.4s background-color ease;
  }
}

p {
  margin: 0;
}
