<div class="header">
  <p class="title">Dofus Quests</p>
  <div class="languages">
    <span
      class="fi fi-br language"
      (click)="changeLanguage('pt')"
      [ngClass]="{ grayscale: currentLanguage !== 'pt' }">
    </span>

    <span
      class="fi fi-us language"
      (click)="changeLanguage('en')"
      [ngClass]="{ grayscale: currentLanguage !== 'en' }">
    </span>

    <span
      class="fi fi-fr language"
      (click)="changeLanguage('fr')"
      [ngClass]="{ grayscale: currentLanguage !== 'fr' }">
    </span>
  </div>
</div>
