<div class="custom-modal" *ngIf="isModalOpen">
  <div class="modal-backdrop" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2>
        {{ 'level' | translate | async }} {{ collectionData?.levelRange }}
      </h2>
      <p>
        {{ completedQuests }}/{{ questCount }}
        {{ 'completedQuests' | translate | async }}
      </p>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="collectionData !== null">
        <div class="type-container">
          <div
            *ngFor="let quest of collectionData.questsData"
            class="collection"
            (click)="findQuestsByType(quest.type[currentLanguage!])"
            [ngClass]="
              verifyAllCompleteByType(quest.type)
                ? 'completed'
                : 'not-completed'
            ">
            <p>{{ quest.type[currentLanguage!] }}</p>
          </div>
        </div>
        <div class="quest-container">
          <ng-container *ngIf="questsData; else noContent">
            <ng-container *ngIf="questsData.quests.length > 0; else noData">
              <div class="quests">
                <div class="quest-header">
                  <div class="all-checkbox">
                    <input
                      type="checkbox"
                      [checked]="verifyAllCompleteByType(questsData.type)"
                      (change)="onAllCheckboxChange($event)" />
                  </div>
                </div>
                <div
                  *ngFor="let quest of flatQuests(questsData.quests)"
                  class="quest">
                  <p (click)="openQuestLink(quest.questId)" class="quest-name">
                    {{ quest.name[currentLanguage!] }} (Nível {{ quest.level }})
                  </p>
                  <div class="quest-check">
                    <input
                      type="checkbox"
                      [checked]="verifyQuestCompletation(quest.questId)"
                      (change)="onCheckboxChange(quest.questId, $event)" />
                  </div>
                </div>
              </div>
              <ng-container *ngIf="questsData">
                <div>
                  <p>{{ 'success' | translate | async }}</p>
                  <div class="quest-success">
                    <p>
                      {{ questsData!.success.name[currentLanguage!] }}
                    </p>
                    <img src="img/success-icon.jpg" alt="success icon" />
                  </div></div
              ></ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

      <ng-template #noContent>
        <div class="no-content">
          <p>{{ 'noType' | translate | async }}</p>
        </div>
      </ng-template>

      <ng-template #noData>
        <div class="no-content">
          <p>{{ 'noData' | translate | async }}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
